.features {
  padding-top: 80px;
  .inner {

  }

  .features-list {
    padding-top: 60px;
  }

  .features-item {
    @include overTab {
      display: flex;
    }
    + .features-item {
      padding-top: 60px;
      @include overTab {
        padding-top: 0;
      }
    }
    display: flex;
    flex-flow: column-reverse;
    color: cl(white);
    &:nth-child(odd) {
      @include overTab {
        flex-flow: row-reverse;
      }
      .image {
        @include overTab {
          margin-right: 40px;
        }
      }
      .text {
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 40px;
        @include overTab {
          margin-right: 42px;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    &:nth-child(even) {
      @include overTab {
        flex-flow: row;
      }
      .image {
        @include overTab {
          margin-left: 40px;
        }
      }
      .text {
        padding-top: 40px;
        @include overTab {
          margin-left: 42px;
        }
      }
    }

    .text {
      @include overTab {
        flex: 1;
        padding-top: 40px;
      }
    }
      .title {
        font-size: 18px;
        color: cl(baige);
        @include overTab {
          font-size: 28px;
        }
      }

      .desc {
        font-size: 16px;
        @include overTab {
          font-size: 18px;
        }
        margin-top: 50px;
      }

      .image {
        @include overTab {
          width: percentage(640 / 1280);
        }
      }

      .features-link {
        padding-top: 60px;
        padding-bottom: 40px;
        a {
          margin-right: auto;
          margin-left: auto;
        }
      }
  }
}